* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.heading1,
.heading2 {
    color: white;
    text-align: center;
}

.heading1 {
    margin-top: 6vh;
}

.heading2 {
    margin-bottom: 6vh;
}

.container1 {
    list-style: none;
    padding-top: 7vh;
    padding-right: 10vh;
    padding-left: 13vh;
    padding-bottom: 25vh;
    display: grid;
    row-gap: 4vh;
    column-gap: 6vh;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 16vw 16vw;
}

.card_1 {
    background-color: rgb(66, 66, 214);
}

.card_2 {
    background-color: rgb(15, 114, 33);
}

.card_3 {
    background-color: rgb(91, 102, 8);
}

.card_4 {
    background-color: rgb(207, 28, 28);
}

.card_5 {
    background-color: rgb(8, 8, 72);
}

.card_6 {
    background-color: rgb(0, 95, 123);
}

.card {
    border-radius: 1vh;
}

.container1 :hover {
    transform: scale(1.05);
}

.card_align {
    color: white;
    text-align: center;
    font-size: 4vh;
    padding-top: 3vh;
    text-shadow: 28px 15px 22px black;
}

.card_small {
    font-size: 8vh;
    padding-top: 7vh;

}